<div class="row flex-column align-items-center">
  <h3 class="headline">Teams</h3>
</div>

<% user.teams.each do |team| %>
  <div class="row mt-3 flex-column align-items-center">
    <%= link_to team.name, team_path(team), class: "btn btn-sm btn-dark"%>
  </div>
<% end %>