<div class="container">
  <div class="row">
    <h1 class="titlemark flex-column align-items-center">Team</h1>
  </div>

  <div class="row">
    <div class="col-4">
      <%= render 'tags/tags', tags: @tags %>
    </div>

    <div class="col-4">
      <%= render 'users/members', team_members: @team_members %>
    </div>

    <div class="col-4">
      <%= render 'issues/issues', issues: @issues %>
    </div>
  </div>

</div>