<div class="container">
  <div class="row flex-column align-items-center">
    <h1 class="titlemark mb-5">Team</h1>
  </div>

  <div class="row">
    <div class="offset-1 col-2">
      <%= render 'tags/tags', tags: @tags %>
    </div>

    <div class="col-4">
      <%= render 'users/members', team_members: @team_members %>
    </div>

    <div class="col-4">
      <%= render 'issues/issues', issues: @issues %>
    </div>
  </div>

</div>