<div class="container">
  <div class="row flex-column align-items-center">
    <h1 class="titlemark mb-5">Team</h1>
  </div>

  <div class="row">
    <div class="offst-1 col-11">
      <div class="row">

        <div class="col-3">
          <%= render 'tags/tags', tags: @tags %>
        </div>

        <div class="col-5">
          <%= render 'users/members', team_members: @team_members %>
        </div>

        <div class="col-4">
          <%= render 'issues/issues', team: @team, issues: @issues %>
        </div>

      </div>
    </div>
  </div>

</div>
