<% if comment.has_best_answer == true %>
  <div class="card callout-coral mt-3">
<% else %>
  <div class="card callout-dark mt-3">
<% end %>

  <div class="row no-gutters">

    <div class="my-auto ml-3">
      <%= attachment_image_tag comment.user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "noimage.jpg", size: "50x50", class:"rounded-circle" %>
    </div>

    <div class="card-body">
      <span class="card-text"><%= comment.comment %></span>
      <% if issue.has_settled == false && comment.user == current_user && action_name == 'show' %>
        <div class="float-right">
          <%= link_to edit_team_issue_comment_path(team, issue, comment), class: "btn btn-outline-success btn-sm" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to team_issue_comment_path(team, issue, comment), method: :delete, data: { confirm: "will you delete it?"}, class: "btn btn-outline-danger btn-sm" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
      <% if comment.has_best_answer == true %>
        <p class="badge badge-primary my-auto float-right" style="background-color:#ff7f50;">
          ベストアンサー
        </p>
      <% end %>
    </div>

  </div>
</div>