<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Comments</h3>
  <h1 class="titlemark">・</h1>
</div>

<div class="offset-1 col-10">
  <% @pagenated_comments.each do |comment| %>
    <div class="row mt-3">
      <%= render 'comments/comment_card', team: @team, issue: issue %>
    </div>
  <% end %>
</div>