<div class="row flex-column align-items-center">
  <h3 class="headline">Issues</h3>
</div>

<% issues.last(5).each do |issue| %>
  <div class="row mt-3">
    <%= render 'issues/index_card', team: team, issue: issue %>
  </div>
<% end %>

<div class="row flex-column align-items-end mt-3 mr-3">
  <%= link_to "more", team_issues_path, class:"btn btn-sm btn-dark" %>
</div>
