<div class="row">
  <div class="offset-1 col-10">
    <%= render 'show_card', team: @team, issue: @issue %>
  </div>
</div>

<div class="row my-5">
  <div class="offset-2 col-8">
    <% @comments.each do |comment| %>
      <%= render 'comments/choice_comment_card', team: @team, issue: @issue, comment: comment %>
    <% end %>
  </div>
</div>