<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Choice best answer</h3>
  <h1 class="titlemark">・</h1>
</div>

<div class="row">
  <div class="offset-1 col-10">
    <%= render 'issue_card', team: @team, issue: @issue %>
  </div>
</div>

<div class="row my-5">
  <div class="offset-2 col-8">
    <% @comments.each do |comment| %>
      <%= render 'comments/choice_comment_card', team: @team, issue: @issue, comment: comment %>
    <% end %>
  </div>
</div>