<div class="row">
  <div class="offset-1 col-10">
    <%= render 'show_card', team: @team, issue: @issue %>
  </div>
</div>

<div class="row my-5">
  <div class="offset-2 col-8">
    <%= render 'comments/confirm_comment_card', team: @team, issue: @issue, comment: @comment %>
  </div>
</div>

<div class="row mb-5">
  <div class="offset-3 col-6">
    <%= link_to "It's done !", team_settled_path(@team, @issue, comment_id: @comment), method: :put, class:"btn btn-danger btn-block" %>
  </div>
</div>
