<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Edit issue</h3>
  <h1 class="titlemark">・</h1>
</div>

<div class="row">
  <div class="offset-2 col-8">
    <%= render 'issues/form', team: @team, issue: @issue, tags: @tags %>
  </div>
</div>
