<div class="row flex-column align-items-center">
  <h1 class="titlemark">Issues</h1>
</div>

<% @issues.each do |issue| %>
    <div class="row mt-1">
      <%= render 'issues/index_card', team: @team, issue: issue %>
    </div>
<% end %>
