<div class="card mt-3">
  <div class="row no-gutters">
    <div class="col-3">
      <%= attachment_image_tag user, :profile_image, :fill, 50, 50, format: 'jpeg', fallback: "noimage.jpg", size: "50x50" %><br>
    </div>

    <div class="offset-1 col-8">
      <h5 class="card-title">
        <%= link_to team_user_path(user_id: user.id) do %>
          <%= user.name %>
        <% end %>
      </h5>
    </div>
  </div>
</div>

