<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Users</h3>
  <h1 class="titlemark">・</h1>
</div>

<div class="row">
  <div class="offset-2 col-8">
    <%= render 'users/search_form', team: @team %>
  </div>
</div>

<div class="row my-5">
  <div class="offset-1 col-10">
    <div class="card-columns">
      <% @pagenated_users.each do |user| %>
        <%= render 'users/member_card', team: @team, user: user  %>
      <% end %>
    </div>
  </div>
</div>

<div class="row justify-content-center my-5">
  <%= paginate @pagenated_users %>
</div>

