<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
  <h3>Members</h3>
  <h1 class="titlemark">・</h1>
</div>

<div class="row my-5">
  <div class="offset-1 col-10">
    <%= render 'users/members', users: @pagenated_users %>
  </div>
</div>

<div class="row justify-content-center my-5">
  <%= paginate @pagenated_users %>
</div>
