<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
    <% if @team.present? %>
      <h1>User information</h1>
    <% else %>
      <h1>My page</h1>
    <% end %>
  <h1 class="titlemark">・</h1>
</div>

<div class="row mt-5">
  <div class="offset-1 col-4">
    <%= render 'users/profile_card', team: @team, user: @user %>
  </div>
  
  <div class="col-7">
    <canvas id="totalChart" style="height:100%;"></canvas>
    <%= render 'users/charts/total_chart' %>
  </div>
</div>

<%# chart tabs %>
<div class="row mt-5">
  <div class="offset-1 col-10">

    <ul id="chartTab" class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a href="#questioner" id="questioner-tab" class="nav-link active" role="tab" data-toggle="tab" aria-controls="questioner" aria-selected="true">質問者</a>
      </li>
      <li class="nav-item">
        <a href="#answer" id="answer-tab" class="nav-link" role="tab" data-toggle="tab" aria-controls="answer" aria-selected="false">解答者</a>
      </li>
    </ul>

    <div id="chartTabContent" class="tab-content mt-3">
      <div id="questioner" class="tab-pane active" role="tabpanel" aria-labelledby="questioner-tab">
        <%= render 'users/charts/questioner_tab' %>
      </div>

      <div id="answer" class="tab-pane" role="tabpanel" aria-labelledby="answer-tab">
        <%= render 'users/charts/answer_tab' %>
      </div>
    </div>

  </div>
</div>
