<div class="row">
  <div class="offset-1 col-10">
    <p class="headline">Profile</p>
  </div>
</div>

<div class="row mt-3 px-5">
  <div class="col-xs-12 offset-md-1 col-md-4">
    <%= render 'users/profile_card', team: @team, user: @user %>
  </div>

  <div class="col-12 col-md-7 mt-5">
    <%= render 'charts/total_chart' %>
  </div>
</div>

<div class="row mt-5">
  <div class="offset-1 col-10">
    <p class="headline">Team information</p>
  </div>
</div>

<div class="row mt-3 px-5">
  <div class="col-12 offset-md-1 col-md-10">
    <%= render 'charts/tab_charts' %>
  </div>
</div>