<div class="row">
  <div class="offset-1 col-10">
    <p class="headline">Profile</p>

    <div class="row mt-5 px-5">
      <div class="col-xs-12 col-md-4">
        <%= render 'users/profile_card', team: @team, user: @user %>
      </div>

      <div class="col-12 mt-5 col-md-8 mt-md-0">
        <%= render 'charts/user_charts' %>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div class="offset-1 col-10">
    <p class="headline">Team information</p>

    <div class="col-12 offset-md-1 col-md-10 mt-5">
      <%= render 'charts/tab_charts' %>
    </div>
  </div>
</div>
