<div class="row flex-column align-items-center my-5">
  <h1 class="titlemark">・</h1>
    <% if @team.present? %>
      <h1>User information</h1>
    <% else %>
      <h1>My page</h1>
    <% end %>
  <h1 class="titlemark">・</h1>
</div>

<div class="row mt-5 px-5">
  <div class="col-xs-12 offset-md-1 col-md-4">
    <%= render 'users/profile_card', team: @team, user: @user %>
  </div>

  <div class="col-12 col-md-7 mt-5">
    <%= render 'users/total_chart' %>
  </div>
</div>

<!-- chart tabs -->
<%=  render 'users/chart_tab'%>
