<div class="offset-1 col-10 offset-md-0 col-md-6 d-flex justify-content-center justify-content-md-end">
  <%= image_tag 'howto_icon2.svg', width:"200px", class:"mr-md-5" %>
</div>

<div class="offset-1 col-10 offset-md-0 col-md-6 d-flex justify-content-center justify-content-md-start">
  <p class="align-self-center">
    仲間が困っていたら、皆で助け合いましょう。<br>
    たとえ問題が大きくても、<br>
    必ず答えは見つかるはずです。
  </p>
</div>
