<div class="col-6 d-flex justify-content-end">
  <p class="align-self-center">
    仲間が困っていたら、皆で助け合いましょう。<br>
    たとえ問題が大きくても、<br>
    必ず答えは見つかるはずです。
  </p>
</div>

<div class="col-6 d-flex justify-content-start">
  <%= image_tag 'howto_icon2.svg', width:"200px", class:"ml-5" %>
</div>