<div class="col-6 d-flex justify-content-end">
  <%= image_tag 'howto_icon3.svg', width:"200px", class:"mr-5" %>
</div>

<div class="col-6 d-flex">
  <p class="align-self-center">
    問題に気付くたび、解決するたび、<br>
    あなたに評価が付与されます。<br>
    どんなに小さくても関係ありません。
  </p>
</div>