<div class="col-6 d-flex justify-content-end">
  <%= image_tag 'howto_icon4.svg', width:"200px", class:"mr-5" %>
</div>

<div class="col-6">
  <p class="align-self-center">
    過去に起こった問題がどのように解決されたか、<br>
    問題を解決しながらチームのノウハウとして<br>
    残しておきましょう。
  </p>
</div>
