<div class="offset-1 col-10 offset-md-0 col-md-6 d-flex justify-content-center justify-content-md-end">
  <%= image_tag 'howto_icon3.svg', width:"70%", class:"mr-md-5" %>
</div>

<div class="offset-1 col-10 offset-md-0 col-md-6 d-flex justify-content-center justify-content-md-start">
  <p class="align-self-center">
    問題に気付くたび、解決するたび、<br>
    あなたに評価が付与されます。<br>
    どんなに小さくても関係ありません。
  </p>
</div>