<div class="col-6 d-flex justify-content-end">
  <%= image_tag 'howto_icon1.svg', width:"200px", class:"mr-5" %>
</div>

<div class="col-6 d-flex">
  <p class="align-self-center">
    一人で解決できない問題があったとき、<br>
    ToTを通じて仲間に聞いてみましょう。
  </p>
</div>
