<div class="row">
  <div class="col-12 col-md-3">
    <div class="nav flex-md-column nav-pills" id="answer-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="response-tab" data-toggle="pill" href="#response" aria-controls="response" aria-selected="true">Time to response</a>
      <a class="nav-link" id="required-time-tab" data-toggle="pill" href="#required-time" aria-controls="required-time" aria-selected="false">Time to solved</a>
      <a class="nav-link" id="best-answer-tab" data-toggle="pill" href="#best-answer" aria-controls="best-answer" aria-selected="false">Best answer</a>
      <a class="nav-link" id="comment-tags-tab" data-toggle="pill" href="#comment-tags" aria-controls="comment-tags" aria-selected="false">Tags</a>
    </div>
  </div>

  <div class="col-12 col-md-9">
    <div class="tab-content" id="answer-tabContent">
      <div class="tab-pane fade show active" id="response" aria-labelledby="response-tab">
        <canvas id="responseChart" style="height:100%;"></canvas>
      </div>

      <div class="tab-pane fade" id="required-time" aria-labelledby="required-time-tab">
        <canvas id="requiredTimeChart"></canvas>
      </div>

      <div class="tab-pane fade" id="best-answer" aria-labelledby="best-answer-tab">
        <canvas id="bestAnswerChart"></canvas>
      </div>

      <div class="tab-pane fade" id="comment-tags" aria-labelledby="comment-tags-tab">
        <canvas id="commentTagsChart"></canvas>
      </div>
    </div>
  </div>
</div>
