<div class="row">
  <div class="col-12 col-md-3">
    <div class="nav flex-md-column nav-pills" id="questioner-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active" id="likes-tab" data-toggle="pill" href="#likes" aria-controls="likes" aria-selected="true">Likes</a>
      <a class="nav-link" id="issue_viewed-tab" data-toggle="pill" href="#issue_viewed" aria-controls="issue_viewed" aria-selected="false">Issue viewed</a>
    </div>
  </div>

  <div class="col-12 col-md-9">
    <div class="tab-content" id="questioner-tabContent">
      <div class="tab-pane fade show active" id="likes" aria-labelledby="likes-tab">
        <canvas id="likeChart"></canvas>
      </div>

      <div class="tab-pane fade" id="issue_viewed" aria-labelledby="issue_viewed-tab">
        <canvas id="issueViewedChart"></canvas>
      </div>
    </div>
  </div>
</div>
