<%= form_with url: url, method: :get, local: true do |f| %>
  <div class="row input-group">
    <%= f.text_field :q, placeholder: "Enter search word.", autofocus: true, class:"form-control col-10" %>
    <div class="input-group-append">
      <%= f.submit "Search", class:"btn btn-danger" %>
    </div>
  </div>
<% end %>
