<div class="row">
  <div class="col-3">
    <div class="nav flex-column nav-pills" id="questioner-tab" role="tablist" aria-orientation="vertical"><%# 質問者 %>
      <a class="nav-link active" id="likes-tab" data-toggle="pill" href="#likes" aria-controls="likes" aria-selected="true">いいね</a>
      <a class="nav-link" id="issue_viewed-tab" data-toggle="pill" href="#issue_viewed" aria-controls="issue_viewed" aria-selected="false">閲覧数</a>
      <a class="nav-link" id="issue-tags-tab" data-toggle="pill" href="#issue-tags" aria-controls="issue-tags" aria-selected="false">タグ</a>
    </div>
  </div>

  <div class="col-9">
    <div class="tab-content" id="questioner-tabContent"><%# 質問者 %>
      <div class="tab-pane fade show active" id="likes" aria-labelledby="likes-tab">
        <canvas id="likeChart"></canvas>
        <%= render 'users/charts/like_chart' %>
      </div>

      <div class="tab-pane fade" id="issue_viewed" aria-labelledby="issue_viewed-tab">
        <canvas id="issueViewedChart"></canvas>
        <%= render 'users/charts/issue_viewed_chart' %>
      </div>

      <div class="tab-pane fade" id="issue-tags" aria-labelledby="issue-tags-tab">
        <canvas id="issueTagsChart"></canvas>
        <%= render 'users/charts/issue_tags_chart' %>
      </div>
    </div>
  </div>
</div>
