/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

 @import "bootstrap";

// titleデザイン
.titlemark{
  color: #ff7f50;
  font-weight: bold;
}

// semi titleデザイン
.headline{
  border-bottom: solid 1px #ff7f50;
}

// 余白
main{
  margin-bottom: 50px;
  padding: 0 50px 0;
}

// リンク文字色
a{
  color: #343a40;
}

// タブデザイン
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link{
  color: #fff;
  background-color: #343a40;
}
.nav-pills .nav-link,
.nav-pills .show > .nav-link{
  color: #343a40;
}

// サイドバーデザイン
.sidebar{
  position: -webkit-sticky;
  position: fixed;
  left: 0;
  min-height: 100vh;
  width: 25%;
}
.sidebar > .nav > .nav-items > .nav-link{
  color: #fff;
}

.nav-link:hover{
  color: rgb(163, 163, 163);
}

.dropdown-item.active, .dropdown-item:active{
  background-color: #ff7f50;
}

// cardデザイン
.callout-dark{
  border-left: solid 5px #343a40;
}
.callout-coral{
  border-left: solid 5px #ff7f50;
}

// pagenateデザイン
.pagination > li > a {
  color: #343a40;
}

.pagination > .active > a {
  background-color: #ff7f50;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #ff7f50;
  border-color: #ff7f50;
}

.pagination > li > a:hover {
  background-color: #ff7f50;
  border-color: #ff7f50;
  color: #fff;
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem #ff7f50;
}

// issue form タグデザイン
.checkboxes > input{
  opacity: 0;
}

.checkboxes > input:after{
  height: 0;
  visibility: hidden;
}

.checkboxes > label{
  border-radius: 3px;
  border: solid 1px #343a40;
  padding: 0 10px 25px;
  height: 10px;
}

.checkboxes > label:hover{
  cursor: pointer;
}

.checkboxes > input[type="checkbox"]:checked + label{
  background-color: #343a40;
  color: white;
}

// ボタンデザイン
.btn-danger,
.btn-danger.disabled,
.btn-danger:disabled {
  color: #fff;
  background-color: #ff7f50;
  border-color: #ff7f50;
}

.btn-danger:hover {
  color: #fff;
  background-color: #ff6347;
  border-color: #ff6347;
}

.btn-danger:active,
.btn-danger.active {
  color: #fff;
  background-color: #ff6347;
  border-color: #ff6347;
}

// 検索ラジオボタン デザイン
.radiobuttons > input{
  opacity: 0;
}

.radiobuttons > input:after{
  height: 0;
  visibility: hidden;
}

.radiobuttons > label{
  border-radius: 3px;
  border: solid 1px #343a40;
  padding: 0 10px 25px;
  height: 10px;
}

.radiobuttons > label:hover{
  cursor: pointer;
}

.radiobuttons > input[type="radio"]:checked + label{
  background-color: #343a40;
  color: white;
}
