<div class="sidebar vh-100 sticky-top bg-dark d-flex">
  <nav class="nav flex-column align-items-center col-12">
    <div class="row mx-auto mt-5">
      <%= image_tag 'logo-white.png', width: '100' %>
    </div>

    <div class="nav-items mt-5">
      <%= link_to "Home", root_path, class: "nav-link" %>
      <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
      <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
    </div>

    <div class="row mt-auto">
      <p class="text-white">© 2020 Kanon inc.</p>
    </div>
  </nav>
</div>

